@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https: //fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;600;700&display=swap '); */

input:checked + label > div.checkbox {
  @apply bg-accentGreen-600;
}
input:checked + label > svg {
  @apply block;
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .block {
  background-color: #0038ff;
}

body {
  font-size: 15px;
  /* font-family: "Playpen", sans-serif; */
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  overflow: hidden;
  background-color: #f3f3f3;
}

input {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 8px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

hr {
  border-top-color: #eeeeee;
}

hr.v2 {
  border-top-color: rgba(134, 145, 168, 0.2);
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

.font-montserrat,
.font-montserrat * {
  font-family: "Montserrat", sans-serif;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.restrict-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-grey {
  filter: invert(73%) sepia(2%) saturate(12%) hue-rotate(339deg) brightness(86%)
    contrast(83%);
}

.hidden-scrollbar::-webkit-scrollbar {
  height: 0;
}

.text-primary-gradient {
  background: -webkit-linear-gradient(30deg, #eab308, #ef4444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.horizontal-scrollbar::-webkit-scrollbar {
  height: 3px;
}

.btn-user[data-state="active"] button {
  background-image: linear-gradient(
    120deg,
    rgba(234, 179, 8, 1) 0%,
    rgba(239, 68, 68, 1) 100%
  );
  color: #eeeeee;
}
